<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Artiste Name</h3>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group"
				 appDropDown>
					<button class="btn btn-primary dropdown-toggle" type="button">Select Artiste <span class="caret"></span></button>
					<ul class='dropdown-menu'>
						<li><a href="#">Edit Artiste</a></li>
						<li><a href="#">Delete Artiste</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="ad" class="col-xs-12">
				Artiste Details
			</div>
		</div>
</div>